# Ignore web server error logs
error_log
debug.log

# Ignore configs
src/config.php
.php_cs.cache
config.php
robots.txt
.htaccess

# Ignore backups
backup
backups
backup/
backups/

# Ignore dev stuff
notes.md
todo*.md