RewriteOptions inherit
# FallbackResource /index.php

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule !^exclude index.php [L,NC]


# Turn on debug error displays
php_flag display_errors 1
