AddType application/x-httpd-php72 .php
RewriteOptions inherit
# FallbackResource /index.php

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule !^exclude index.php [L,NC]