:root {
    /* Globasa flag colours */
    --glbBlue: #0040a9;
    --glbGreen: #008113;
    --glbBlueShadeDarker: #003998;
    --glbBlueTintLighter: #1953b1;
    --glbGreenShadeDarker: #007411;
    --glbGreenTintLighter: #198d2a;
    --shadowColor: #000060; /* Recommended shadow */
}

body {
    font-family: 'Merriweather', 'Literata', serif;
    font-weight: 500;
    background: white;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}

#content {
    max-width: 600px;
    margin: auto;
    padding: 5px;
}

#appTitle a, #appTitle a:any-link {
    color: black;
    font-size: 36px;
}
.w3-card {
    font-weight: 500;
    margin-bottom: 25px;
    margin-top: 25px;
}

#siteHeader {
    width: 100%;
    background-color: inherit;
    color: inherit;
    text-align: center;
    padding: 0;
    padding-top: 1px;
    margin: 0;
}

#siteHeader input {
    width: 100%;
    display: inline-block;
    margin: 0;
}

#siteHeader .w3-cell {
    padding: 0 3px;
    margin: 0;
}

#siteHeader .w3-cell-row {
    background-color: #666;
    color: white;
    margin: 5px 0 0 0;
    padding: 5px 10px;
}

#siteHeader .w3-btn {
    background-color: white;
    color: var(--glbGreen);
}

#siteHeader a {
    text-decoration: none;
    color: var(--glbBlue);
}

#siteFooter {
    /* bottom: 0px;
    left: 0px;
    right: 0px; */
    /* width: 100vh; */
}

.w3-card a:link {
    text-decoration: none;
}

.dictionaryEntry .status {
    margin: 0;
    padding: 0;
    text-align: right;
}

header .wordClass a:any-link {
    color: white;
    background-color: inherit;
}

li .wordClass, li .wordClass a:any-link, .translationAide li .wordClass,
dt .wordClass, dt .wordClass a:any-link, .translationAide dt .wordClass
{
    color: black;
    background-color: inherit;
    font-size: inherit;
}

.w3-card header h2 {
    display: inline;
    font-size: x-large;
}

.wordClass {
    display: inline;
    font-style: italic;
    padding-left: .5em;
}

#entryTerm {
    margin-top: 0;
}

.entryContent {
    padding-bottom: 1em;
    background-color: rgba(255,255,255,.5);

}

.dictionaryEntry a, .tags a, dl a {
    text-decoration: none;
    color: var(--glbGreen);
}

.dictionaryEntry h1 {
    display: inline-block;
    margin: 0;
}

.content-bg {
    background-color: rgba(255,255,255,.7);
}

/* Tools stuff */
.w3-container textarea {
    display: block;
    width: 100%;
    height: 20em;
}

.w3-card header {
    background-color: var(--glbBlue);
    color: white;
}

h2 {
    font-size: large;
}

h3 {
    font-size: medium;
}

.dictionaryEntry {
    border-radius: 4px;
}

.dictionaryEntry > footer {
    border-bottom-left-radius: 4;
    border-bottom-right-radius: 4;
    background: linear-gradient(45deg, var(--glbGreenShadeDarker) 30%, var(--glbGreenTintLighter) 70%);
    color: white;
}

.dictionaryEntry > header {
    border-top-left-radius: 4;
    border-top-right-radius: 4;
    background: linear-gradient(45deg, var(--glbBlueShadeDarker) 30%, var(--glbBlueTintLighter) 70%);
}

.feedbackSubmit .w3-btn {
    background-color: var(--glbGreen);
    color: white;
}

.dictionaryEntry footer a {
    text-decoration: none;
    color: white;
}

.dictionaryEntry footer a:hover {
    text-decoration: none;
    color: white;
}

.dictionaryEntry h1 {
    font-size: x-large;
}

.dictionaryEntry h2 {
    display: inline-block;
    font-size: medium
}

.dictionaryEntry h3 {
    display: inline-block;
}

dd {
    margin-bottom: 1em;
    /* font-size: large;  */
}

.dictionaryList a:not([class]) {
    /* font-size: large;  */
    font-weight: bold;
    text-decoration: none;
}


dl {
    line-height: 110%;
}

dt {
    float:left;
    padding-right: 0.5em;
    /* line-height: 110%; */
}

dd {
    /* margin: 0 0 0.2em 0.5em; */
    margin-left: 0.2em;
    /* line-height: 110%; */
}

dd::after {
    clear: both;
}

.browse dd, .browse dt {
    display: none;
}

.translation > ul:not(:last-child):after {
    content: ";";
}


.translation ul > ul li:not(:last-child):after {
    content: ",";
}

.examples blockquote {
    position: relative;
}

.examples p {
    margin-bottom: 0;
}

.examples blockquote footer {
    color: #333;
}

.dictionaryEntry .examples blockquote::before {
	position: absolute;
	z-index: -1;
	display: block;
	/* width: 3rem; */
	/* height: 4rem; */
	font-size: 8rem;
	font-family: Georgia, Times, Garamond, serif;
    color: #ccc;
    top: -3rem;
    left: -1rem;
    content: open-quote;
}


.etymology h2 {
    display: block;
}

.etymology p {
    margin-bottom: none;
    display: inline-block;
}

.etymology .derived, .etymology .apriori {
    margin-top: 0;
}

.dictionaryEntry ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.dictionaryEntry li {
    display:inline-block;
    margin: 2px;
}

.etymology span {
    padding: 3px;
}

.etymology li > span {
    border-radius: 7px;
}






.feedback {
    width: 100%;
}

.feedbackSubmit {
    margin: 1em;
    text-align: center;
}


.translationAide li {
    margin-bottom: 1em;
}

.translationAide .wordClass {
    padding-left: 0;
}





.filter input {
    display: none;
}


.filter label[for^="letter-"] {
    width: 11.1%;
    color: var(--glbBlue);
    font-size: larger; /* */
}

#letter-all-label {
    width: auto;
}

.filter  input[type="radio"]:checked + label[for^="letter-"]
{
  background-color: var(--glbBlue);
  color: white;
  
}

.filter label[for^="cat-"] {
    width: 33.3%;
    color: var(--glbGreen);
}

.filter  input[type="radio"]:checked + label[for^="cat-"]
{
  background-color: var(--glbGreen);
  color: white;
  
}

