:root {
    /* Globasa flag colours */
    --glbBlue: #0040a9;
    --glbGreen: #008113;

    --glbBlueShade1: #003998;
    --glbBlueShade2: #003387;
    --glbBlueShade3: #002c76;
    --glbBlueShade4: #002665;
    --glbBlueShade5: #002054;
    --glbBlueShade6: #001943;
    --glbBlueShade7: #001332;
    --glbBlueShade8: #000c21;
    --glbBlueShade9: #000610;
    
    --glbBlueTint1: #1953b1;
    --glbBlueTint2: #3266ba;
    --glbBlueTint3: #4c79c2;
    --glbBlueTint4: #668ccb;
    --glbBlueTint5: #7f9fd4;
    --glbBlueTint6: #99b2dc;
    --glbBlueTint7: #b2c5e5;
    --glbBlueTint8: #ccd8ed;
    --glbBlueTint9: #e5ebf6;

    --glbGreenShade1: #007411;
    --glbGreenShade2: #00670f;
    --glbGreenShade3: #005a0d;
    --glbGreenShade4: #004d0b;
    --glbGreenShade5: #004009;
    --glbGreenShade6: #003307;
    --glbGreenShade7: #002605;
    --glbGreenShade8: #001903;
    --glbGreenShade9: #000c01;

    --glbGreenTint1: #198d2a;
    --glbGreenTint2: #329a42;
    --glbGreenTint3: #4ca659;
    --glbGreenTint4: #66b371;
    --glbGreenTint5: #7fc089;
    --glbGreenTint6: #99cca0;
    --glbGreenTint7: #b2d9b8;
    --glbGreenTint8: #cce5cf;
    --glbGreenTint9: #e5f2e7;

    --flowerSVG: url(https://cdn.globasa.net/graphics/flower/globasa-flower.svg);
    --flagSVG: url(https://cdn.globasa.net/graphics/flag/glb_flag.svg);
}

body {
    font-family: 'Merriweather', 'Literata', serif;
    font-weight: 500;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}

h1 {
    margin-top: 0;
    text-align: center;
}

h2 {
    font-size: large;
}

h3 {
    font-size: medium;
}

main, article {
    margin: auto;
    padding-inline: 5px;
    box-sizing: border-box;
}

/*#region   Site Header */
/**             **/
/** site header **/
/**             **/

#siteHeader {
    width: 100%;
    color: inherit;
    text-align: center;
    padding: 0;
    margin: 0 0 2em 0;
}

#appTitle a, #appTitle a:any-link {
    font-size: 36px;
}

#appTitle {
    margin: 0;
}

#siteHeader a:any-link {
    text-decoration: none;
    white-space: nowrap;
}

#siteHeader form {
    margin: 5px auto 0 auto;
    padding: 5px;
}

#siteHeader input {
    width: 100%;
    display: inline-block;
    margin: 0;
    border: 0;
    text-align: center;
}

/*#endregion*/


/*#region   Site Footer */

#siteFooter {
    margin: 2em 0 0 0;
}

#siteFooter a:any-link {
    text-decoration: none;
}

#siteFooter ul {
    list-style-type: none;
    padding: 0;
}

#siteFooter .langs, #siteFooter .langs a:any-link {
    text-align: center;
}

#siteFooter .about {
    text-align: center;
    padding-top: 1em;
}

#siteFooter .copyright {
    padding: 3px;
}

#siteFooter .copyright p {
    display: inline;
}

#siteFooter img.cc_license {
    display: inline-block;
    margin: 0;
    max-width: 1.2em;
    height: auto;
}

#siteFooter a.badge {
    text-decoration: none;
}

/*#endregion*/



/*#region   Dictionary Entry */

.dictionaryEntry .status {
    margin: 0;
    padding: 0;
    text-align: right;
}

header .wordClass a:any-link {
    color: white;
    background-color: inherit;
}

.wordClass {
    display: inline;
    font-style: italic;
}

#entryTerm {
    margin-top: 0;
}

.dictionaryEntry a:any-link, .tags a:any-link, dl a:any-link {
    text-decoration: none;
}

.dictionaryEntry h1 {
    font-weight: normal;
}

.dictionaryEntry h1, .dictionaryEntry h2 {
    display: inline-block;
    margin: 0;
}

.dictionaryEntry {
    border-radius: 8px;
    padding: 0;
}

    
.dictionaryEntry > header {
    padding-inline: 1em;
}

.dictionaryEntry > section, .dictionaryEntry > footer {
    padding-inline: 5px;
}

.dictionaryEntry > section {
    margin-block: 1em;
}

.dictionaryEntry > footer {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.dictionaryEntry > header {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.feedbackSubmit {
    background-color: var(--glbGreen);
    color: white;
}

.dictionaryEntry footer a:any-link {
    text-decoration: none;
    color: white;
}

.dictionaryEntry h1 {
    font-size: x-large;
}

.dictionaryEntry h2 {
    display: inline-block;
    font-size: medium
}

.dictionaryEntry div:not(.kwasilexi) h3 {
    display: inline-block;
}

.dictionaryEntry .translation span {
    margin-bottom: .5em;
}

.dictionaryEntry .examples blockquote {
    position: relative;
    z-index: 1;
}

.dictionaryEntry .examples p {
    margin-bottom: 0;
}

.dictionaryEntry .examples blockquote::before {
	position: absolute;
	z-index: -1;
	display: block;
	font-size: 8rem;
	font-family: Georgia, Times, Garamond, serif;
    top: -3rem;
    left: -1rem;
    content: open-quote;
}


.etymology h2 {
    display: block;
}

.etymology p {
    margin-bottom: none;
    display: inline-block;
}

.etymology .derived, .etymology .apriori {
    margin-top: 0;
}

.dictionaryEntry ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.dictionaryEntry li {
    display:inline-block;
    margin: 2px;
}

.etymology span {
    padding: 3px;
}

.etymology li > span {
    border-radius: 7px;
}

.alsosee summary {
    display: block;
}

.alsosee dl {
    margin-left: 1em;
}


/*#endregion*/




/* Tools stuff */
textarea {
    display: block;
    width: 100%;
    height: 20em;
}

.tool header {
    background-color: var(--glbBlue);
    color: white;
}



/* Reports stuff */

#parse_report {
    max-width: 100ch;
}

#parse_report ol {
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: monospace;
    font-size: large;
}

#parse_report li + li {
    margin-top: 1em;
}

dl {
    line-height: 110%;
}

dt, dd {
    margin: 0;
    display: inline;
}

.browse dd, .browse dt {
    display: none;
}

dl div {
    margin-bottom: 1em;
}

.translation_aid dl {
    margin-left: 1em;
}

dt a {
    font-weight: bold;
}

.tags dl, #natlangs_language dl {
    column-width: 30ch;
}


main.tags, #natlangs_language {
    width: 100%;
}



.feedback {
    width: 100%;
}

.feedbackSubmit {
    margin: 1em;
    text-align: center;
}


/*#region Translation Aid */

.translationAide li {
    margin-bottom: 1em;
}

.translationAide .wordClass {
    padding-left: 0;
}

/*#endregion*/



/*#region Alphabetical Dictionary Browser */

#features h2 {
    margin-bottom: 0;
}

#features section {
    border-bottom: solid 3px;
}

#features section p:first-of-type {
    margin-top: 0;
}

/*#endregion*/


/*#region Alphabetical Dictionary Browser */

.filter {
    display: grid;
    grid-template-columns: 2;
    column-gap: 2em;
    border-radius: 1em;
    padding: 3px;
}

.filter header {
    grid-column: span 2;
    font-weight: bold;
}

.filter h2 {
    margin: 0;
    text-align: center;
}

.filter .alphabet div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.filter .alphabet label {
    font-size: larger;
    text-align: center;
}

.filter .categories label {
    display: block;
    color: var(--glbGreen);
}

.filter .alphabet label:last-of-type {
    grid-column: span 5;
}

.filter label {
    padding: 5px;
    box-sizing: border-box;    
}

.filter input {
    display: none;
}

/*#endregion*/


/*#region Homonym Checker */

.homonyms ul {
    list-style-type: none;
    padding: 0;
}

.homonyms li {
    margin-bottom: 0.5em;
}

.homonyms header {
    font-weight: bold;
    font-size: larger;
    padding: 3px;
}

.homonyms section {
    padding: 3px;
}

.hl, .derived a:any-link {
    display: inline-block;
    border-radius: 4px;
    margin-left: 4px;
    margin-top: 5px;
    padding: 4px;
}


.etymology .lang_list li {
    display: inline-block;
    text-align: center;
    padding: 2px;
    border-radius: 8px;
    vertical-align: top;
}

.etymology .lang_list li .hl {
    color: black;
    display: block;
    margin-inline: 0;
}
/*#endregion*/


/*#region form panels */

form input[type="text"] {
   display: inline-block;
   width: 100%;
   padding: 3px;
   font-size: large;
   box-sizing: border-box;
   height: 2.5rem;
   margin: 0;
}

form input[type="submit"], button {
    border: none;
    box-sizing: border-box;
    height: 2.5rem;
    margin: 0;
    cursor: pointer;
}

/*#endregion*/


/*#region Welcome View */
/**              **/
/** Welcome view **/
/**              **/

.welcome {
    background-position: center;
    background-repeat: no-repeat;
}

.welcome main {
    background-image: var(--flowerSVG);
    background-repeat: no-repeat;
    background-position: center;
    min-height: max(30svh, 250px);
}
/*#endregion*/



/**                   **/
/** Responsive Design **/
/**                   **/

/* Wide Screen */
@media (min-width: 600px) {

    #siteHeader form {
        display: grid;
        grid-template-columns: 1fr 1fr/*1fr 300px*/;
        gap: 5px;
        width: 50ch;
        margin-inline: auto;
    }

    #siteHeader form input[type=submit] {
        grid-column: span 2;
    }

    main, article {
        width: 50ch;
    }

    h1 {
        font-size: x-large;
    }
    
    .etymology .lang_list {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }

    .lang_list li {
        flex-grow: 1;
    }

    form.tool {
        display: flex;
    }

    #changelog_report {
        min-width: 600px;
    }

    #changelog_report table {
        border-collapse: collapse;
        width: 100%;
    }
    #changelog_report tr {
        border-bottom: solid 3px grey;
        margin-bottom: 1em;
        padding-top: 1em;
    }

    #changelog_report td {
        border-bottom: solid 3px grey;
        padding: 1em 0;

    }


    #changelog_report thead tr th:first-child,
    #changelog_report tbody tr td:first-child {
      width: 20em;
      min-width: 8em;
      max-width: 8em;
      word-break: break-all;
    }



    #siteFooter {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5em;
    }

    #siteFooter .langs, #siteFooter .copyright {
        grid-column: span 4;
    }
}

/* Medium Screen */
@media (min-width: 51ch) and (max-width: 600px) {
    #siteHeader form {
        display: grid;
        grid-template-columns: 1fr 1fr/*1fr 300px*/;
        gap: 5px;
        width: 50ch;
        margin-inline: auto;
    }

    #siteHeader form input[type=submit] {
        grid-column: span 2;
    }


    main, article {
        width: 50ch;
    }
    
    h1 {
        font-size: x-large;
    }

    .etymology .lang_list {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }

    .lang_list li {
        flex-grow: 1;
    }

    form.tool {
        display: flex;
    }
    

    #changelog_report td {
        display: block;
        padding-top: 1em;
    }


    #changelog_report td:first-child {
        border-top: solid 1px grey;
    }
    #changelog_report td:last-child {
        padding-bottom: 1em;
    }

    #siteFooter {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5em;
    }

    #siteFooter .langs, #siteFooter .copyright {
        grid-column: span 2;
    }
}

/* Narrow Screen */
@media (max-width: 51ch) {
    h1 {
        font-size: x-large;
        margin: 0 0 1em 0;
    }

    main, article {
        margin-inline: 5px;
    }

    .etymology ul.lang_list {
        display: block;
    }

    .etymology .lang_list li {
        display: block;
        margin: 2px;
        text-align: left;
        border: none;
    }

    .etymology .lang_list li .hl {
        color: black;
        display: inline-block;
        margin-inline: 0;
    }

    .filter {
        display: block;
    }

    form {
        display: grid;
        grid-template-columns: auto ;
        gap: 0.5em;
    }

    form.tool input[type="submit"] {
        display: block;
        width: fit-content;
        margin: 0 0 0 auto;    
    }

    #changelog_report td {
        display: block;
        padding-top: 1em;
    }

    #changelog_report td:first-child {
        border-top: solid 1px grey;
    }
    #changelog_report td:last-child {
        padding-bottom: 1em;
    }

    #siteFooter {
        text-align: center;
    }

    #siteFooter ul {
        padding: 0;
    }
}


/* Light mode & Dark mode */

@media (prefers-color-scheme: light) {
    body {
        background-color: #fdfdfd;
        color: black;
    }

    .dictionaryEntry {
        background-color: white;
        box-shadow: 0 5px 5px 0 #f5f5f5, 0 5px 5px 0 #f5f5f5;
    }

    .dictionaryEntry > footer {
        background-color: var(--glbGreen);
        background: linear-gradient(45deg, var(--glbGreen) 30%, var(--glbGreenTint1) 70%);
        color: white;
    }
    
    .dictionaryEntry > header {
        background-color: var(--glbBlue);
        background: linear-gradient(45deg, var(--glbBlue) 30%, var(--glbBlueTint1) 70%);
        color: white;
    }

    .dictionaryEntry a:any-link, .tags a:any-link, dl a:any-link, li.hl.encap {
        color: var(--glbBlueShade3)
    }

    .dictionaryEntry .examples blockquote footer {
        color: #333;
    }
    
    .dictionaryEntry .examples blockquote::before {
        color: var(--glbGreenTint9);
    }

    .etymology .lang_list li {
        /* background-color: var(--glbGreenTint8); */
        background-color: white;
        color: black;
        border: solid 1px var(--glbGreenTint7);
    }
    
    .etymology .lang_list li .hl {
        /* background-color: white; */
        /* border: solid 1px var(--glbGreen); */
        background-color: var(--glbGreenTint8);
        color: black;
    }

    .filter {
        background-color: var(--glbGreenTint8);
        border: solid 1px var(--glbGreenTint6);
    }
    
    .filter .categories label {
        color: var(--glbGreen);
    }
    
    .filter input[type="radio"]:checked + label[for^="cat-"],
    .filter input[type="radio"]:checked + label[for^="letter-"]
    {
        background-color: var(--glbGreenShade5);
        color: white;
    }


    .tags dl, #natlangs_language dl {
        column-rule: 3px solid #eee;
    }
    
    main input[type="text"], main textarea {
        border: solid 1px var(--glbGreenShade5);
        background-color: var(--glbGreenTint8);
        color: var(--glbGreenShade8);
        outline-color: var(--glbBlueTint5);
    }
    
    main input[type="submit"] {
        background-color: var(--glbGreenShade2);
        color: var(--glbGreenTint9);
        border: none;
    }
    
    main input[type="submit"]:hover {
        background-color: var(--glbGreenShade9);
    }

    .homonyms header {
        color: var(--glbGreenShade7);
        background-color: var(--glbGreenTint9);
    }
    
    #features section {
        border-color: #eee;
    }

    #features h2, #features h2 a:any-link{
        color: var(--glbGreen);
    }


    .hl {
        background-color: var(--glbGreenTint9);
        color: black;
    }

    
    a.hl:any-link {
        color: var(--glbBlueShade7);
    }

    
    a.hl:lang(art-x-globasa) {
        background-color: var(--glbBlueTint9);
        color: var(--glbBlueShade7);
    }

    .hl.encap {
        background-color: white;
        color: black;
        border: solid 1px var(--glbGreenTint9);
    }

    a.hl.encap:lang(art-x-globasa):any-link {
        background-color: white;
        color: var(--glbBlueShade3);
        border: solid 1px var(--glbBlueTint9);
    }



    /* Site Header */

    #siteHeader {
        background-color: var(--glbGreenTint9);
    }

    #appTitle a, #appTitle a:any-link {
        color: var(--glbGreenShade7);
    }

    #siteHeader a:any-link {
        color: var(--glbGreenShade6);
    }

    #siteHeader input[type=text] {
        background-color: white;
        color: var(--glbGreenShade7);
    }

    #siteHeader input[type=submit] {
        background-color: var(--glbGreenTint6);
        color: var(--glbGreenShade7);
    }


    /* Site Footer */

    #siteFooter .langs,  #siteFooter .langs a:any-link {
        background-color: var(--glbBlueShade4);
        color: var(--glbBlueTint9);
    }


    #siteFooter {
        background-color: var(--glbBlueTint8);
        color: black;
    }

    #siteFooter a:any-link {
        color: var(--glbBlueShade6);
    }

}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #0a0a0a;
        color: white;
    }

    .hl {
        background-color: var(--glbBlueShade6);
        color: white;
    }

    .dictionaryEntry {
        background-color: #121212;
        box-shadow: 0 5px 5px 0 #111, 0 5px 5px 0 #111;
    }

    .dictionaryEntry > footer {
        background-color: var(--glbGreenShade5);
        background: linear-gradient(45deg, var(--glbGreenShade5) 30%, var(--glbGreenShade4) 70%);
        color: white;
    }
    
    .dictionaryEntry > header {
        background-color: var(--glbBlueShade5);
        background: linear-gradient(45deg, var(--glbBlueShade5) 30%, var(--glbBlueShade4) 70%);
        color: white;
    }

    .dictionaryEntry a:any-link, .tags a:any-link, dl a:any-link {
        color: var(--glbGreenTint6);
    }
    
    .dictionaryEntry .examples blockquote::before {
        color: #333;
    }
    
    .dictionaryEntry .examples blockquote::before {
        color: var(--glbGreenShade7);
    }
    
    
    .etymology .lang_list li {
        background-color: var(--glbBlueShade7);
        color: var(--glbBlueTint9);
    }
    
    .etymology .lang_list li .hl {
        background-color: var(--glbGreenShade6);
        border: solid 1px var(--glbGreenSHade7);
        color: white;
    }

    .tags dl, #natlangs_language dl {
        column-rule: 3px solid #111;
    }


    .filter {
        background-color: var(--glbGreenShade8);
        border: solid 1px var(--glbGreenShade6);
    }

    .filter .categories label {
        color: var(--glbGreenTint7);
    }

    .filter input[type="radio"]:checked + label[for^="cat-"],
    .filter input[type="radio"]:checked + label[for^="letter-"]
    {
      background-color: var(--glbGreenShade5);
      color: white;
      
    }
    
    main input[type="text"], main textarea {
        border: solid 1px var(--glbGreenShade5);
        background-color: var(--glbGreenShade8);
        color: var(--glbGreenTint8);
        outline-color: var(--glbBlueTint5);
    }
    
    main input[type="submit"], main button {
        background-color: var(--glbGreenShade7);
        color: var(--glbGreenTint7);
        border: none;
    }
    
    main /*.tool_input*/ input[type="submit"]:hover {
        background-color: var(--glbGreenShade9);
    }

    .homonyms header {
        color: var(--glbGreenTint9);
        background-color: var(--glbGreenShade8);
    }
    

    #features section {
        border-color: #222;
    }

    #features h2, #features h2 a:any-link{
        color: var(--glbGreen);
    }


    /* Site Header */
    
    #appTitle a, #appTitle a:any-link {
        color: var(--glbGreenTint9);
    }

    #siteHeader {
        background-color: var(--glbGreenShade8);
    }

    #appTitle a, #appTitle a:any-link {
        color: var(--glbGreenTint9);
    }

    #siteHeader a:any-link {
        color: var(--glbGreenTint9);
    }


    #siteHeader .search {
        background-color: var(--glbGreenShade6);
        color: white;
    }
    #siteHeader input[type=text] {
        background-color: var(--glbGreenShade8);
        color: white;
    }

    #siteHeader input[type=submit] {
        background-color: var(--glbGreenShade7);
        color: var(--glbGreenTint7);
    }

    #siteHeader input::placeholder {
        color: darkgrey;
        opacity: 1; /* Firefox */
        text-align: center;
    }


    /* Site Footer */

    #siteFooter {
        background-color: var(--glbBlueShade6);
        color: white;
    }
    
    #siteFooter a:any-link {
        color: var(--glbBlueTint8);
    }
    
}



details.debug {
    width: 50ch; margin: auto;
}

details.debug summary {
    text-align: center;
}