    body {
        font-size: x-large;
        font-family: 'Roboto', sans-serif;
    }
    dl {
      width: 100%;
      max-width: 800px;
      margin: 0 auto 0 auto;
    }
    h1#header {
      text-align: center;
    }
    h1, h2, h3, dt {
      font-family: 'Oswald', sans-serif;
    }
    dt {
      font-size: 150%;
    }
    p.definition {
      font-size: 120%;
      font-weight: bold;
    }
    p.etymology {
      font-style: italic;
    }