body {
    font-size: x-large;
    font-family: 'Andika', sans-serif;
    padding-top: 200px;
    min-height: 100%;
}

/* site content */
#siteContent {
    max-width: 500px;
    margin: auto;
}



/* site header */
#siteHeader {
    /*background-color: #008400; flag green*/
    background: rgb(200,244,200);
    background: radial-gradient(circle, rgba(200,244,200,1) 60%, rgba(153,203,153,1) 100%);
    color: black;
    position: fixed;
    top: 0px;
    text-align: center;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid 1px #ccc;
}

#siteHeader a:link, #siteHeader a:visited, #siteFooter a:link, #siteFooter a:visited {
    color: #333;
}

#langSelect {
    font-size: x-small;
    text-decoration: none;
    margin: 0;
}

#siteHeader h1 {
    margin: 0;
}


/* site footer */
#siteFooter {
    /*background-color: #004FB0; Flag blue*/
    background: rgb(200,222,249);
    background: radial-gradient(circle, rgba(200,222,249,1) 60%, rgba(150,167,187,1) 100%);
    color: black;
    width: 100%;
    position: absolute;
    bottom: 0px;
    font-size: small;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: solid 1px #ccc;
    text-align: center;
}

#siteFooter ul {
    /*display: inline-block;*/
}

#siteFooter li {
    display: inline-block;
    list-style-type: none;
    padding: inherit 5em inherit 5em;
    margin: inherit 5em inherit 5em;
    background: #ccc;
}

/* Old */

dl {
  width: 100%;
  max-width: 800px;
  margin: 0 auto 0 auto;
}
h1#header {
  text-align: center;
}
h1, h2, h3, dt {
  /*font-family: 'Oswald', sans-serif;*/
}
dt {
  font-size: 150%;
}
p.definition {
  font-size: 120%;
  font-weight: bold;
}
p.etymology {
  font-style: italic;
}