body {
    font-family: 'Merriweather', 'Literata', serif;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}

#main {
    font-size: large;
}

#content {
    max-width: 600px;
    /* margin: 100px auto; */
    margin: auto;
    min-margin: 5px;
}

.w3-card {
    font-weight: 500;
    margin-bottom: 25px;
    margin-top: 25px;
}

#siteHeader {
    width: 100%;
    background-color: white;
    text-align: center;
}

#siteHeader input {
    width: 100%;
    display: inline-block;
    margin: 0;
}

#siteHeader .w3-cell {
    padding: 0 1px;
    margin: 0;
}

#siteHeader .w3-btn {
    background-color: #0040a9;
    color: white;
}

#siteHeader a {
    text-decoration: none;
}

p.alsosee a {
    text-decoration: none;
    color: #008113;
}
.dictionaryEntry header, .dictionaryEntry footer {
    background-color: #0040a9;
    color: white;
}
.dictionaryEntry footer {
    background-color: #008113;
    color: white;
}

.dictionaryEntry footer a {
    text-decoration: none;
    color: #red;
}
.dictionaryEntry footer a:hover {
    text-decoration: none;
    color: white;
}

/*
 Globasa flag colours
 blue #0040a9
 green #008113
 Recommended shadow #000060.
*/
