#header {
    		/*background-image: url("images/overlay2.png"), url("images/overlay3.svg"), url("../../../Flag_of_Globasa.svg"), linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);*/
    		/*background-image: url("images/overlay2.png"), url("images/overlay3.svg"), url("../../images/mesopotamian-tablet.jpg"), linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);*/
    		/*background-image: url("images/overlay2.png"), url("images/overlay3.svg"), url("../../images/Flag_of_Globasa.svg"), linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);*/
		    background-position: top left,	center center, center center,					center center;
		    padding-top: 50px;
}

/*#header {*/
/*#header .inner {*/
#dictionary {
			padding: 10px;
			width: 100%;
			max-width: 600px;
			margin-left: auto;
			margin-right: auto;
			background-color: rgba(255, 255, 255, .8);
			border-radius: 10px 10px 10px 10px;
            -moz-border-radius: 10px 10px 10px 10px;
            -webkit-border-radius: 10px 10px 10px 10px;
            font-family: Volkhov, serif;
            font-size: x-large;
}

#header h1, #header .icon, #header .inner, #header a, #header strong {
    color: black;
}

#header a {
    color: #4a87d3;
}

#header a:hover {
    color: #57aed3;
}

h1 {
    margin-bottom: none !important;
    color: green;
}

dt, .dictionaryEntry {
    margin-top: 3em;
    margin-bottom: 0;
}

.definition {
    font-size: larger;
    margin-top: 0 !important;
}
.etymology {
    font-style: italic;
}

dd, .alsosee, ul {
    text-align: left;
}

ul {
    padding-left: 2em;
}

.postWord {
    font-size: smaller;
}

#footer ul {
    text-align: center;
}

#langBar {
    font-size: small;
    color: grey;
}

#search {
    /*position: -webkit-sticky;*/
    /*position: sticky;*/
    /*top: 2px;*/
    /*height: auto;*/
}

#search input {
    width: 49%;
    display: inline-block;
    color: black;
}

#search input[type="submit"] {
    width: 49%;
    height: 2.75em !important;
    border-color: black !important;
    display: inline-block;
    color: black !important;
}