body {
    font-family: 'Merriweather', 'Literata', serif;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}

#main {
    font-size: large;

}

#content {
    max-width: 600px;
    margin: auto;
    padding: 5px;
}

#appTitle a, #appTitle a:link, #appTitle a:visited {
    color: black;
}
.w3-card {
    font-weight: 500;
    margin-bottom: 25px;
    margin-top: 25px;
}

#siteHeader {
    width: 100%;
    background-color: inherit;
    color: inherit;
    text-align: center;
    padding: 0;
    padding-top: 1px;
    margin: 0;
}

#siteHeader input {
    width: 100%;
    display: inline-block;
    margin: 0;
}

#siteHeader .w3-cell {
    padding: 0 3px;
    margin: 0;
}

#siteHeader .w3-cell-row {
    background-color: #666;
    color: white;
    margin: 5px 0 0 0;
    padding: 5px 10px;
}

#siteHeader .w3-btn {
    background-color: white;
    color: #008113;
}

#siteHeader a {
    text-decoration: none;
    color: #0040a9;
}

#siteFooter {
    margin-top: 50px;
}

.w3-card a:link {
    text-decoration: none;
}

.dictionaryEntry .status {
    margin: 0;
    padding: 0;
    text-align: right;
}

header .wordClass a, header .wordClass a:link, header .wordClass a:visited {
    color: white;
    background-color: inherit;
}

li .wordClass, li .wordClass a, li .wordClass a:link, li .wordClass a:visited, .translationAide li .wordClass,
dt .wordClass, dt .wordClass a, dt .wordClass a:link, dt .wordClass a:visited, .translationAide dt .wordClass
{
    color: black;
    background-color: inherit;
    font-size: inherit;
}

.dictionaryEntry header h2 {
    display: inline
}

.wordClass {
    display: inline;
    font-style: italic;
    padding-left: .5em;
}

#entryTerm {
    margin-top: 0;
}

.dictionaryEntry a, .tags a, .dictionaryList a {
    text-decoration: none;
    color: #008113;
}

/* Tools stuff */
.w3-container textarea {
    display: block;
    width: 100%;
    height: 20em;
}

.w3-card header {
    background-color: #0040a9;
    color: white;
}
.feedbackSubmit .w3-btn, .dictionaryEntry footer {
    background-color: #008113;
    color: white;
}

.dictionaryEntry footer a {
    text-decoration: none;
    color: white;
}

.dictionaryEntry footer a:hover {
    text-decoration: none;
    color: white;
}

.dictionaryList li, .dictionaryList dd {
    margin-bottom: 1em;
    font-size: large;
}

.dictionaryList a:not([class]) {
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
}

.feedback {
    width: 100%;
}

.feedbackSubmit {
    margin: 1em;
    text-align: center;
}


.translationAide li {
    margin-bottom: 1em;
}

.translationAide .wordClass {
    padding-left: 0;
}
/*
 Globasa flag colours
 blue #0040a9
 green #008113
 Recommended shadow #000060.
*/
